<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Complex Layout - jQuery EasyUI Demo</title>
	<link rel="stylesheet" type="text/css" href="../../themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="../../themes/icon.css">
	<link rel="stylesheet" type="text/css" href="../demo.css">
	<script type="text/javascript" src="../../jquery.min.js"></script>
	<script type="text/javascript" src="../../jquery.easyui.min.js"></script>
	<style type="text/css">
	body { padding: 2px;  height:99%;   }
	html {  height:100%;    } 
	</style>
</head>
<body>
	 
	 
	<div class="easyui-layout" style="width:100%; min-height:350px;  height:100%;    ">
		<div data-options="region:'north',split:true" title="应用程序" style="height:80px"></div>
		<div data-options="region:'south',split:true" style="height:50px;"></div>
		<div data-options="region:'east',split:true" title="帮助" style="width:180px;">
			<ul class="easyui-tree" data-options="url:'tree_data1.json',method:'get',animate:true,dnd:true"></ul>
		</div>
		<div data-options="region:'west',split:true" title="菜单" style="width:100px;">
			<div class="easyui-accordion" data-options="fit:true,border:false">
				<div title="菜单1" style="padding:10px;">
					文件
				</div>
				<div title="菜单2" data-options="selected:true" style="padding:10px;">
					查看
				</div>
				<div title="菜单3" style="padding:10px">
					编辑
				</div>
			</div>
		</div>
		<div data-options="region:'center',title:'主程序',iconCls:'icon-ok'">
			<div class="easyui-tabs" data-options="fit:true,border:false,plain:true">
				<div title="帮助" data-options="href:'_content.html'" style="padding:10px"></div>
				<div title="查看" style="padding:5px">
					<table class="easyui-datagrid"
							data-options="url:'datagrid_data1.json',method:'get',singleSelect:true,fit:true,fitColumns:true">
						<thead>
							<tr>
								<th data-options="field:'itemid'" width="80">Item ID</th>
								<th data-options="field:'productid'" width="100">Product ID</th>
								<th data-options="field:'listprice',align:'right'" width="80">List Price</th>
								<th data-options="field:'unitcost',align:'right'" width="80">Unit Cost</th>
								<th data-options="field:'attr1'" width="150">Attribute</th>
								<th data-options="field:'status',align:'center'" width="50">Status</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>

</body>
</html>